body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 10vh;
    background-image: linear-gradient(rgb(53, 120, 255) 40%, rgb(0, 38, 114));
    border: silver 5px double;
    border-width: thick;
    padding: .8em;
    overflow: hidden;
    cursor: default;
}

.question {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: black 2px 2px 0;
    margin: 0;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: double goldenrod 4px;
    border-width: thick;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: silver 3px double;
    cursor: pointer;
    overflow: hidden;
    background-image: linear-gradient(rgb(53, 120, 255) 40%, rgb(0, 38, 114));
    min-width: 20.4vw;
    height: 9vh;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

#answer-input {
    border-radius: 20px;
    font-size: 2em;
    outline: none;
    padding: .2em .5em;
    font-weight: bold;
    margin-top: 2em;
    width: 20vw;
    border: rgb(41, 108, 242) solid 3px;
    box-shadow: rgb(34, 92, 208) 0 4px 0;
    background-color: rgb(161, 184, 229);
    text-align: center;
}

#answer-input::placeholder {
    color: rgb(29, 75, 166);
    opacity: .4;
}

#submit-button {
    font-size: 150%;
    border-radius: 12px;
    min-width: 28%;
    cursor: pointer;
    border:rgb(41, 108, 242) solid 3px;
    background-color: rgb(29, 75, 166);
    padding: .3em .6em;
    font-weight: bold;
    text-shadow: black 2px 2px 0;
    box-shadow: rgb(49, 112, 236) 0 2px 0, rgba(0, 0, 0, 0.782) inset 0 -3px 0;
    color: white;
    transition: .15s;
}

#submit-button:active {
    box-shadow: rgb(49, 112, 236) 0 4px 0, rgba(0, 0, 0, 0.782) inset 0 2px 0;
}

.answer p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 2.3em;
}

video {
    opacity: .4;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    z-index: -2;
}

@media(max-width:600px) {
    .question, .answer p {font-size: 1.1em;}
    #answer-input {font-size: 1em; width: 40vw;}
}